[submodule "lando"]
	path = lando
	url = ../../lando/lando
	branch = .
[submodule "cli"]
	path = cli
	url = ../../lando/cli
	branch = .
[submodule "hyperdrive"]
	path = hyperdrive
	url = ../../lando/hyperdrive
	branch = .
[submodule "leia"]
	path = leia
	url = ../../lando/leia
	branch = .
[submodule "server"]
	path = server
	url = ../../lando/server
	branch = .
[submodule "pkgs"]
	path = pkgs
	url = ../../AaronFeledy/lando-pkgs
	branch = .
